<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Vaultyx</string>
    <key>CFBundleDisplayName</key>
    <string>Vaultyx</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSFaceIDUsageDescription</key>
    <string>Vaultyx uses Face ID to protect your encrypted files.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Vaultyx needs access to your photos for backup.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Vaultyx needs permission to save files to your photo library.</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <true/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
